/* General */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

table {
  font-size: 12px;
  letter-spacing: 0.5px;
  background-color: #fff;
  margin: 0 auto;
  text-transform: uppercase;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #222;
}

table td, th {
  border: 1px solid #BBB;
  text-align: left;
  padding: 8px 16px;
}

h2 {
  padding-top: 10px;
}

h4.error {
  color: red;
}

h4.success {
  color: green;
}

button, input[type="submit"] {
  text-transform: uppercase;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

td.button {
  width: 67px;
  text-align: center;
  background-color: #ddd;
  cursor: pointer;
}

select {
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

select:focus {
    outline: none;
}
