table#team {
  font-size: 12px;
  letter-spacing: 0.5px;
  background-color: #fff;
  margin: 0 auto;
  border-collapse: collapse;
}

table#team .numbers{
    text-align: center;
    width: 24px;
}

table#team .positions{
    width: 169px;
    padding-left: 5px;
}
 table#team .players{
     width: 194px;
     padding-left: 5px;
}

div.change_team {
    text-align: center;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

div.change_team a{
    text-decoration: none;
}
div.whitespace {
     display: inline-block;
     width: 16px;
}

table#team td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px 0;
}
