table#team td.numbers {
  width: 17px;
}

table#team th.positions {
    width: 187px;
}

table#team th.players {
    width: 297px
}

table#team tr:nth-child(1) {
  font-weight: bold;
}

table#team td.numbers, th.numbers {
    text-align: center;
    font-weight: bold;
}

div.change_team {
    text-align: center;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

a.players {
    color: #000;
}

div.change_team a {
    text-decoration: none;
}

div.whitespace {
     display: inline-block;
     width: 16px;
}

select {
  width: 217px;
}
