<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='stylesheets/index.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/global.css') }}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">
    <title>The {{ school }} Rugby Club Team Picker</title>
</head>
<body>
  <h1>The {{ school }} Rugby Club</h1>
  {% for i in range(all_teams|length) %}
      <h3><a href="/squad/{{ i + 1 }}"> {{ all_teams[i][0] }} Rugby Teams</a></h3>
    {% for j in range(all_teams[i][1]|length) %}
      <h4><a class="players" href="/teamsheet/{{ i + 1 }}/{{ j + 1 }}">{{ all_teams[i][1][j] }}</a></h4>
      {% endfor %}
    {% endfor %}
    <br>
    <table>
        <tr>
          <form method="post" action="{{url_for('index')}}">
            <td>
                <input
                  required
                  maxlength="3"
                  pattern="[U]{1}[0-9]{2}"
                  name="age_group"
                  placeholder="Enter a new Age Group"></input>
            </td>
            <td class="button">
              <button type="submit">Add New Age Group</button>
            </td>
          </form>
        </tr>
      </table>
</body>
</html>
