<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='stylesheets/teamsheet.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/global.css') }}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">
    <title>{{ team_name }} Teamsheet</title>
  </head>
  <body>
    <h1>{{ team_name }} Teamsheet</h1>
    <h3><a href="/team/{{ age_group }}/{{ team }}">{{ team_name }} Settings</a></h3>
    <br>
    <table id="team">
      <tr> <th class="numbers">#</th> <th class="positions">Position</th> <th class="players">Name</th> </tr>
      {% for i in range(players|length) %}
        <tr> <td class="numbers">{{ i + 1 }}</td> <td class="positions">{{ positions[i] }}</td> <td> <a class="players" href="/player/{{players[i]}}"> {{ names[i] }} </a> </td> </tr>
        {% endfor %}
    </table>
    <div class="change_team">
      {% if team_above is not none %}
        <a href="/teamsheet/{{ age_group }}/{{team_above}}" >&#8592;</a>
      {% else %}
        <div class="whitespace"></div>
      {% endif %}
      {% if team_below is not none %}
        <a href="/teamsheet/{{ age_group }}/{{team_below}}">&#8594;</a>
      {% else %}
        <div class="whitespace"></div>
      {% endif %}
    </div>
    <br>
    <h4 class="error"> {{ error }}</h4>
    <table>
        <tr>
          <form method="post" action="{{url_for('teamsheet', age_group=age_group, team=team)}}">
            <td>
              <select name="position" required>
                <option value="0">Select a position</option>
                {% for j in range(positions|length) %}
                <option value="{{ j + 1 }}">{{ positions[j] }}</option>
                {% endfor %}
              </select>
            </td>
            <td>
                <select name="player" required>
                  <option value="0">Select a player</option>
                  {% for j in range(remaining_players|length) %}
                  <option value="{{remaining_players[j][0]}}">{{ remaining_players[j][1] }}</option>
                  {% endfor %}
                </select>
            </td>
            <td class="button">
              <input type="submit" value="Edit Team" required pattern="{1-15}">
            </td>
          </form>
        </tr>
      </table>
  </body>
</html>
